html{ scroll-behavior: smooth; }

body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Abel';
    background-color: #A6A2A2;   
}

/*Name*/
h1{
    margin: 0;
    font-size: 12vw;
    text-align: center;
    transform: translateY(-8vw);
    opacity: 0;
}

/*Caption under name*/
h2{
    font-size: 3vw;
    color: #524b4b;
    text-align: center;
    transform: translateY(5vw);
    opacity: 0;
}

h3{
    font-size: 2.5vw;
    text-align: center;
    transform: translateY(7vw);
}

h4{ 
    text-align: center; 
    font-size: 1.25vw;
}

h5{ text-align: left; }

ul{ line-height: 50%; }

/*Large red area at the start*/
.front-panel{
    background-color: #847577;
    padding-top: 5vw;
    width: 100%;
    height: 27vw;
}

/*For all social links*/
.links-ribbon{
    background-color: #CFD2CD;
    width: 100%;
    height: 5vw;
    position: fixed;
    transform: translateX(-100vw);
    z-index: 1;
}

.links{
    float: right;
    margin-right: 3%;
}

/*For individual social icons*/
#li:hover{ transform: scale(1.25); }

#gh:hover{ transform: scale(1.25); }

#gm:hover{ transform: scale(1.4); }

.tabs{
    text-decoration: none;
    font-size: x-large;
    color: #fff;
    line-height: 5vw;
    margin-left: 3%;
    transition:.5s linear;
}

#prj{ height: 70vw; }

.item1 { grid-area: first; }
.item2 { grid-area: second; }
.item3 { grid-area: third; }
.item4 { grid-area: fourth; }
.item5 { grid-area: fifth; }

.item{
    cursor: pointer;
}

.grid-container {
    position: relative;
    display: grid;
    grid-template-areas:
    'first second third'
    'fourth fifth sixth';
    grid-gap: 3vw;
    transform: translateY(10vw);
    align-items: center;
    padding-left: 4%;
}

.grid-container > div {
    position: relative;
    background-color: #CFD2CD;
    text-align: center;
    align-items: center;
    font-size: 2vw;
    height: 25vw;
    width: 25vw;
    padding: 10px;
    box-shadow: 5px 10px gray;
}

.pimg{ transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1); }

.pimg:hover{
    transform: scale(1.3);
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.details{
    pointer-events : none;
    z-index: 2; 
    position: absolute; 
    transform: translate(3.25vw,-12vw); 
    color: #fff; 
    font-size: 4vw; 
    text-shadow: 2px 2px gray;
    opacity:0;
}

.details:hover{
    opacity:100;
}

.item:hover{
    opacity: 100;
}

#skill{ height: 43vw; }

.skillsec{
    float: left;
    height: 29vw;
    width: 15vw;
    margin: 0 5vw;
    margin-top: 10vw;
    background-color: #CFD2CD;
    box-shadow: 5px 10px gray;
    font-size: 1.5vw;
    text-align: center;
    color: #524b4b;
}

#ctc{ height: 58vw; }

.form{
    background-color: #CFD2CD;
    height: 42vw;
    width: 40vw;
    margin: auto;
    margin-top: 10vw;
    box-shadow: 5px 10px gray;
    padding-top: .25vw;
    text-align: center;
}

.rectangle{
    width: 20vw ;
    height: 1vw;
    background-color: #847577;
    margin-left: 40vw;
    transform: translateY(5vw);
}

button{
    border: none; 
    width: 30%; 
    height: 3vw; 
    margin: auto;
    background-color: #fff; 
    transition: .25s linear;
    font-family: Abel;
    color: black;
    cursor:pointer;
}

