html{
    scroll-behavior: smooth;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Abel';
    background-color: #A6A2A2;   
}

h1{
    margin: 0;
    font-size: 12vw;
    text-align: center;
    transform: translateY(-8vw);
    opacity: 0;
}

h2{
    font-size: 3vw;
    color: #524b4b;
    text-align: center;
    transform: translateY(5vw);
    opacity: 0;
}

h3{
    font-size: 2.5vw;
    text-align: center;
    transform: translateY(7vw);
}

.front-panel{
    background-color: #847577;
    padding-top: 5vw;
    width: 100%;
    height: 27vw;
}

.links-ribbon{
    background-color: #CFD2CD;
    width: 100%;
    height: 5vw;
    position: fixed;
    transform: translateX(-100vw);
    z-index: 1;
}

.links{
    float: right;
    margin-right: 3%;
}

img:hover{
    transform: scale(1.4);
}

.tabs{
    text-decoration: none;
    font-size: x-large;
    color: #fff;
    line-height: 5vw;
    margin-left: 3%;
    transition:.5s linear;
}

#prj{
    height: 70vw;
}

#skill{
    height: 27vw;
}

.item1 { grid-area: first; }
.item2 { grid-area: second; }
.item3 { grid-area: third; }
.item4 { grid-area: fourth; }
.item5 { grid-area: fifth; }

.grid-container {
  display: grid;
  grid-template-areas:
    'first second third'
    'fourth fifth sixth';
  grid-gap: 3vw;
  transform: translateY(10vw);
  align-items: center;
  padding-left: 4%;
}

.grid-container > div {
    background-color: #CFD2CD;
    text-align: center;
    align-items: center;
    font-size: 2vw;
    height: 25vw;
    width: 25vw;
    padding: 10px;
    box-shadow: 5px 10px gray;
  }

#ctc{
}

.rectangle{
    width: 20vw ;
    height: 1vw;
    background-color: #847577;
    margin-left: 39.75vw;
    transform: translateY(5vw);
}


